.button {
    white-space: nowrap;
    overflow: hidden;
    z-index: 9999;
    color: #333333;
    font-weight: bold;
}

.buttonLogin {
    white-space: nowrap;
    overflow: hidden;
    z-index: 9999;
    color: #fff !important;
}

.toolbarScrolling {
    margin-top: -60px;
    margin-right: 100px;
}

.menu {
    cursor: pointer;
    position: relative;
}

.menu::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5;
    background: #1A73E8;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.menu:hover::after {
    transform: scaleX(1);
}

.activeMenu {
    cursor: pointer;
    position: relative;
}

.link {
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.03em;
    color: #000000;
    font-size: 1.2rem;
}

.link:hover {
    color: #64a19d;
    text-decoration: none;
}

.link:focus {
    color: #64a19d;
    font-weight: 500;
}

.activeLink {
    color: #64a19d;
    text-decoration: none !important;
    font-weight: 500;
    font-size: 1.2rem;
}

.drawer {
    width: 250px;
    padding: 1rem;
}

.menuItem {
    padding: 1rem !important;
    color: inherit;
}

.menuItem:hover {
    color: #64a19d;
    cursor: pointer;
    background-color: rgba(19, 203, 210, 0.04) !important;
}

.menuLink {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}

.menuLink:hover {
    color: rgb(13, 142, 147);
    text-decoration: none;
}

.menuLink:focus {
    color: rgb(13, 142, 147);
}